In [1]:
df = pd.read_csv('./data/matzip.csv')

In [2]:
df.tail()

     Unnamed: 0          name category  rating  ncount                address
295         295            보다     중화요리     4.0      10        서울 강남구 도산대로 308
296         296     가로수브루잉컴퍼니  호프,요리주점     3.7      31    서울 강남구 도산대로11길 31-4
297         297  푸드2900 논현시티점       분식     3.6      20      서울 강남구 도산대로50길 16
298         298            도사       한식     3.7      26  서울 강남구 도산대로67길 7 지하1층
299         299   소호앤노호 도산대로점       카페     1.0       0       서울 강남구 도산대로50길 8

In [21]:
df = df.drop('Unnamed: 0', axis = 1)
df.tail()

             name category  rating  ncount                address
295            보다     중화요리     4.0      10        서울 강남구 도산대로 308
296     가로수브루잉컴퍼니  호프,요리주점     3.7      31    서울 강남구 도산대로11길 31-4
297  푸드2900 논현시티점       분식     3.6      20      서울 강남구 도산대로50길 16
298            도사       한식     3.7      26  서울 강남구 도산대로67길 7 지하1층
299   소호앤노호 도산대로점       카페     1.0       0       서울 강남구 도산대로50길 8

In [22]:
# 결측치 확인
df.isna().sum()

name        0
category    2
rating      0
ncount      0
address     0
dtype: int64

In [23]:
df[df['category'].isna()]

,name,category,rating,ncount,address
11,브루클린더버거조인트 가로수길점,NaN,3.9,536,서울 강남구 도산대로15길 12 YG빌딩 1층
291,베이커리앤커피바이쿤달 압구정로데오 플래그쉽스토어,NaN,3.7,37,서울 강남구 도산대로53길 39 1층

In [31]:
df.iloc[11,1] = '햄버거'
df.iloc[291,1] = '카페'
df.iloc[11,1], df.iloc[291,1]

('햄버거', '카페')

In [33]:
# 결측치 확인
df.isna().sum()

name        0
category    0
rating      0
ncount      0
address     0
dtype: int64

In [51]:
df['category'].unique()

array(['디저트카페', '테마카페', '양식', '햄버거', '육류,고기', '중화요리', '일식집', '제과,베이커리',
       '이탈리안', '호프,요리주점', '분식', '곱창,막창', '중식', '초밥,롤', '퓨전중식', '한식',
       '패밀리레스토랑', '샤브샤브', '국수', '일본식주점', '카페', '퓨전일식', '닭요리', '아시아음식',
       '갤러리카페', '떡볶이', '실내포장마차', '양꼬치', '퓨전요리', '족발,보쌈', '일식', '돈까스,우동',
       '태국음식', '장어', '해물,생선', '술집', '회', '커피전문점', '삼겹살', '칵테일바', '피자',
       '아이스크림', '치킨', '두부전문점', '베트남음식', '복어', '패스트푸드', '오뎅바', '한정식',
       '게,대게', '국밥', '와인바', '찌개,전골', '동남아음식', '순대', '갈비', '북카페', '냉면',
       '퓨전한식', '샌드위치', '만화카페'], dtype=object)

In [84]:
df[df['category'].str.contains('카페|디저트|베이커리|아이스크림')].shape

(52, 5)

In [91]:
is_cafe = df[df['category'].str.contains('카페|디저트|베이커리|아이스크림')].index

In [92]:
df[df['category'].str.contains('포장마차|주점|와인|술집|칵테일바|오뎅바')].shape

(38, 5)

In [93]:
is_bar = df[df['category'].str.contains('포장마차|주점|와인|술집|칵테일바|오뎅바')].index

In [95]:
df_food = df.drop(is_bar, axis = 0).drop(is_cafe, axis = 0)
print(df_food.shape)
df_food.head()

(210, 5)

       name category  rating  ncount                     address
2    리틀넥 청담       양식     3.8     924        서울 강남구 도산대로51길 17 1층
3  다운타우너 청담      햄버거     4.2     636        서울 강남구 도산대로53길 14 1층
4  쉐이크쉑 청담점      햄버거     3.6     302  서울 강남구 도산대로 327 SGF청담타워 1층
5   새벽집 청담점    육류,고기     3.4     169           서울 강남구 도산대로101길 6
6   몽중헌 청담점     중화요리     3.9     134    서울 강남구 도산대로 445 엠빌딩 지하1층

In [108]:
df_matzip = df_food[df_food['rating'] > 3.5].sort_values('ncount', ascending = False).head(10)
df_matzip

                name category  rating  ncount                     address
2             리틀넥 청담       양식     3.8     924        서울 강남구 도산대로51길 17 1층
3           다운타우너 청담      햄버거     4.2     636        서울 강남구 도산대로53길 14 1층
11  브루클린더버거조인트 가로수길점      햄버거     3.9     536   서울 강남구 도산대로15길 12 YG빌딩 1층
79               청담돈       일식     4.1     423        서울 강남구 도산대로49길 11 2층
21                쮸즈     퓨전중식     3.9     404            서울 강남구 도산대로17길 9
28         도쿄등심 압구정점    육류,고기     3.8     334   서울 강남구 도산대로49길 9 스타크빌딩 3층
7           오복수산 도산점      일식집     3.6     333        서울 강남구 도산대로53길 14 2층
10              페어링룸     이탈리안     3.9     326        서울 강남구 도산대로81길 14 1층
19                루위       중식     3.8     310             서울 강남구 도산대로 211
4           쉐이크쉑 청담점      햄버거     3.6     302  서울 강남구 도산대로 327 SGF청담타워 1층

In [104]:
df_cafe = df[df['category'].str.contains('카페|디저트|베이커리')]
print(df_cafe.shape)
df_cafe.head()

(49, 5)

            name category  rating  ncount                  address
0       카페노티드 청담    디저트카페     3.6    1508     서울 강남구 도산대로53길 15 1층
1     꽁티드툴레아 도산점     테마카페     2.9     566     서울 강남구 도산대로49길 39 1층
8   아우어베이커리 도산본점  제과,베이커리     3.2     302     서울 강남구 도산대로45길 10-11
17    C27 가로수길본점    디저트카페     3.7     353        서울 강남구 도산대로15길 39
18        새들러하우스    디저트카페     3.8      40  서울 강남구 도산대로17길 10 지하 1층

In [113]:
df_cafe_matzip = df_cafe[df_cafe['rating'] > 3.5].sort_values('ncount', ascending = False).head(10)
df_cafe_matzip

              name category  rating  ncount                      address
0         카페노티드 청담    디저트카페     3.6    1508         서울 강남구 도산대로53길 15 1층
17      C27 가로수길본점    디저트카페     3.7     353            서울 강남구 도산대로15길 39
36      세시셀라 도산공원점    디저트카페     3.7     192  서울 강남구 도산대로45길 10-4 삼경빌딩 1층
61             논탄토       카페     3.8     142            서울 강남구 도산대로17길 35
136           르사이트    디저트카페     3.7      99            서울 강남구 도산대로11길 22
27      빵어니스타 압구정점    디저트카페     3.6      93         서울 강남구 도산대로25길 43 1층
40           카페그라쎄       카페     4.3      84    서울 강남구 도산대로17길 19 온암빌딩 1층
65            쁠로13  제과,베이커리     4.0      83          서울 강남구 도산대로8길 13 1층
179        싸일러 청담점  제과,베이커리     3.9      75         서울 강남구 도산대로85길 39 1층
286  바오밥나무커피 가로수길점       카페     4.6      64         서울 강남구 도산대로17길 10 3층

In [120]:
import requests

app_key = {'Authorization': 'KakaoAK 8cd51dd1ae22e18082bd9b3b7fc52bbe'}

# 카카오 api를 이용해 위경도 불러오기 함수 선언
def get_long(address):
    global long
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query='+address
    result = requests.get(url, headers = app_key).json()
    for document in result['documents']:
         long = document['x']
    return long

def get_lat(address):
    global lat
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query='+address
    result = requests.get(url, headers = app_key).json()
    for document in result['documents']:
         lat = document['y']
    return lat

# 성수 블루보틀주소로 테스트
address = '서울특별시 성동구 아차산로 7 케이티링커스'
get_long(address), get_lat(address)

('127.045641393072', '37.5481060299191')

In [119]:
df['long'] = df['address'].apply(get_long)
df['lat'] = df['address'].apply(get_lat)
df.head()

,name,category,rating,ncount,address,long,lat
0,카페노티드 청담,디저트카페,3.6,1508,서울 강남구 도산대로53길 15 1층,127.038241721129,37.5241916888758
1,꽁티드툴레아 도산점,테마카페,2.9,566,서울 강남구 도산대로49길 39 1층,127.036889294894,37.5255631741936
2,리틀넥 청담,양식,3.8,924,서울 강남구 도산대로51길 17 1층,127.037766715705,37.5242138261807
3,다운타우너 청담,햄버거,4.2,636,서울 강남구 도산대로53길 14 1층,127.038573907268,37.524064899915
4,쉐이크쉑 청담점,햄버거,3.6,302,서울 강남구 도산대로 327 SGF청담타워 1층,127.037598626747,37.5231196123278

In [125]:
df_matzip = pd.merge(df_matzip, df[['name','long','lat']], how = 'left', on = 'name')
df_cafe_matzip = pd.merge(df_cafe_matzip, df[['name','long','lat']], how = 'left', on = 'name')

df_matzip.head()

,name,category,rating,ncount,address,long,lat
0,리틀넥 청담,양식,3.8,924,서울 강남구 도산대로51길 17 1층,127.037766715705,37.5242138261807
1,다운타우너 청담,햄버거,4.2,636,서울 강남구 도산대로53길 14 1층,127.038573907268,37.524064899915
2,브루클린더버거조인트 가로수길점,햄버거,3.9,536,서울 강남구 도산대로15길 12 YG빌딩 1층,127.024070351583,37.5190748481366
3,청담돈,일식,4.1,423,서울 강남구 도산대로49길 11 2층,127.037096490732,37.5236243325128
4,쮸즈,퓨전중식,3.9,404,서울 강남구 도산대로17길 9,127.02468385789,37.5192728521127

In [132]:
df_matzip.loc[0,'long'], df_matzip.loc[0,'lat']

('127.037766715705', '37.5242138261807')

In [167]:
def get_distance(cafe_i,food_i):
    x = float(df_cafe_matzip.loc[cafe_i,'lat']) - float(df_matzip.loc[food_i,'lat'])
    y = float(df_cafe_matzip.loc[cafe_i,'long']) - float(df_matzip.loc[food_i,'long'])
    distance = np.sqrt(x**2 + y**2)
    return distance

In [229]:
get_distance(1,4)

0.0020511379387685813

In [244]:
for i in df_matzip.index:
    result = {}
for j in df_cafe_matzip.index:  
    result[j] = get_distance(j,4)
    best_cafe_index = min(result.keys(), key=(lambda k: result[k]))
    best_cafe = df_cafe_matzip.loc[best_cafe_index]   
    df_matzip.loc[j,'best_cafe'] = best_cafe['name']
df_matzip

,name,category,rating,ncount,address,long,lat,best_cafe
0,리틀넥 청담,양식,3.8,924,서울 강남구 도산대로51길 17 1층,127.037766715705,37.5242138261807,카페노티드 청담
1,다운타우너 청담,햄버거,4.2,636,서울 강남구 도산대로53길 14 1층,127.038573907268,37.524064899915,C27 가로수길본점
2,브루클린더버거조인트 가로수길점,햄버거,3.9,536,서울 강남구 도산대로15길 12 YG빌딩 1층,127.024070351583,37.5190748481366,C27 가로수길본점
3,청담돈,일식,4.1,423,서울 강남구 도산대로49길 11 2층,127.037096490732,37.5236243325128,논탄토
4,쮸즈,퓨전중식,3.9,404,서울 강남구 도산대로17길 9,127.02468385789,37.5192728521127,논탄토
5,도쿄등심 압구정점,"육류,고기",3.8,334,서울 강남구 도산대로49길 9 스타크빌딩 3층,127.03707080116,37.5233752133923,논탄토
6,오복수산 도산점,일식집,3.6,333,서울 강남구 도산대로53길 14 2층,127.038573907268,37.524064899915,카페그라쎄
7,페어링룸,이탈리안,3.9,326,서울 강남구 도산대로81길 14 1층,127.047836479836,37.5253800382362,카페그라쎄
8,루위,중식,3.8,310,서울 강남구 도산대로 211,127.029681739673,37.5205955456524,카페그라쎄
9,쉐이크쉑 청담점,햄버거,3.6,302,서울 강남구 도산대로 327 SGF청담타워 1층,127.037598626747,37.5231196123278,바오밥나무커피 가로수길점

### dict value 최소값으로 key찾기 참고
https://gomguard.tistory.com/137

In [245]:
df_matzip.to_csv('./data/matzip.csv')