In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import time
import requests
from urllib.parse import urlparse

('127.045641393072', '37.5481060299191')

In [90]:
# 크롬드라이버
driver = webdriver.Chrome(
    executable_path= "/Users/sehyunk/chromedriver"
)

In [117]:
keyword = '도산대로 맛집'
url = 'https://map.kakao.com/'
driver.get(url)
action = ActionChains(driver)

time.sleep(2)
driver.find_element_by_id('search.keyword.query').click()
driver.find_element_by_id('search.keyword.query').send_keys(keyword)
driver.find_element_by_id('search.keyword.query').send_keys(Keys.RETURN)

time.sleep(2)
driver.find_element_by_id('info.search.place.more').click()
time.sleep(2)
driver.find_element_by_id('info.search.page.no1').click()
time.sleep(2)

pagenum = 20
results = []
for page in range(1,pagenum+1):
    replys = driver.find_elements_by_css_selector('li.PlaceItem')
    time.sleep(2)
    for reply in replys:
        name = reply.find_element_by_css_selector('a.link_name').text
        category = reply.find_element_by_css_selector('span.subcategory').text
        rating = reply.find_element_by_css_selector('em.num').text
        rcount = reply.find_element_by_css_selector('div.rating.clickArea > a > em').text.replace(',','')
        address = reply.find_element_by_css_selector('div.info_item > div.addr').text.split('\n')[0]
        results.append((name, category, rating, rcount, address))
        time.sleep(2)
    if page%5:
        driver.find_element_by_id('info.search.page.no{}'.format(page%5+1)).click()
    else:
        driver.find_element_by_id('info.search.page.next').click()
    time.sleep(2)
    print(page, len(results))

1 15
2 30
3 45
4 60
5 75
6 90
7 105
8 120
9 135
10 150
11 165
12 180
13 195
14 210
15 225
16 240
17 255
18 270
19 285
20 300

In [119]:
df = pd.DataFrame(results, columns = ['name','category','rating', 'ncount', 'address'])

In [122]:
df.tail()

             name category rating ncount                address
295            보다     중화요리    4.0     10        서울 강남구 도산대로 308
296     가로수브루잉컴퍼니  호프,요리주점    3.7     31    서울 강남구 도산대로11길 31-4
297  푸드2900 논현시티점       분식    3.6     20      서울 강남구 도산대로50길 16
298            도사       한식    3.7     26  서울 강남구 도산대로67길 7 지하1층
299   소호앤노호 도산대로점       카페    1.0      0       서울 강남구 도산대로50길 8

In [126]:
df.to_csv('./data/scrapped.csv')